@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Regular.ttf"); /* {{embedded-opentype-gf-url}} */
}

* {
  outline: none;
  -webkit-user-select: none;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-y: auto;
}
.card {
  margin: 1rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
